.body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    position: fixed;
    bottom: 15px;
}

.time {
    font-size: 2rem;
}

.image {
    width: 500px;
    height: auto;
}